* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Playfair Display";
}

/* MAIN */

.opening-section {
  display: flex;
  height: 100vh;
  text-transform: uppercase;
}

/* MAIN - Blog */

.blog-section {
  width: 50%;
  background-color: #000;
  /* background: url('https://images.squarespace-cdn.com/content/v1/5959d0f32e69cf918ea4547d/1561404374861-J0JK0SXLJ0LASUOEQ9N2/ke17ZwdGBToddI8pDm48kPgv0ZItuOPhOZ1JEt0uc617gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UdZuMiofIYA1YNg-cpohaGgSn53-I2sbAQSHhq9SgyQCm_c7z1K7QovUjPUprEAi5Q/Full+Combo+2.JPG?format=1500w') no-repeat center center/cover; */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-section:hover {
  opacity: 0.9;
}

.blog-section a {
  text-decoration: none;
  color: #fff;
}

/* .blog-section-content {
  background-color: #000;
  padding: 1rem;
  opacity: 0.5;
} */

/* MAIN - Consult */

.consult-section {
  width: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.consult-section:hover {
  background-color: #d6d6d6;
}

.consult-section a {
  text-decoration: none;
  color: #000;
}

/* Blog */

.blog-container {
  background-color: #fff;
  height: 100vh;
  padding: 4.5rem 4.5rem;
}

.blog-nav {
  margin-bottom: 2rem;
}

.blog-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-nav ul .options {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.blog-nav ul h1 {
  font-size: 2rem;
  color: #000;
}

.blog-nav ul h1:hover {
  color: #5e5e5e;
}

.blog-nav li {
  list-style: none;
}

.blog-nav a {
  color: #5e5e5e;
  text-decoration: none;
}

.blog-nav a:hover,
.blog-nav a:active {
  color: #000;
  border-bottom: 1px solid black;
}

.blog-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

/* Consultation */

.consultation-container {
  background-color: #ffe9d0;
  color: #000;
  height: 100%;
  padding: 4.5rem 4.5rem;
}

.consultation-nav {
  margin-bottom: 2rem;
}

.consultation-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.consultation-nav ul .options {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.consultation-nav ul h1 {
  font-size: 2rem;
  color: #000;
}

.consultation-nav ul h1:hover {
  color: #5e5e5e;
}

.consultation-nav li {
  list-style: none;
}

.consultation-nav a {
  color: #5e5e5e;
  text-decoration: none;
}

.consultation-nav a:hover,
.blog-nav a:active {
  color: #000;
  border-bottom: 1px solid black;
}

.consultation-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-direction: column;
  margin-top: 4rem;
}

.consultation-content h1:last-of-type {
  margin-bottom: 2rem;
}
.consultation-content .services {
  width: 100%;
  text-align: center;
  margin: 2.25rem 0;
}

.consultation-content .services .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  line-height: 2.8;
  margin: 2.75rem 0;
}

.consultation-content .services ul {
  list-style: none;
}

.consultation-content .services h2 {
  color: #5e5e5e;
}

.consultation-content .partnerships {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 1.5rem;
  margin: 2.5rem auto;
}

.consultation-content .partnerships .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.consultation-content .accomplishments {
  margin-top: 2.25rem;
  width: 55%;
  text-align: center;
}

.consultation-content .accomplishments ul {
  list-style: none;
}


/* Photography */

.photography-container {
  background-color: #fff;
  color: #000;
  height: 100vh;
  padding: 4.5rem 4.5rem;
}

.photography-nav {
  margin-bottom: 2rem;
}

.photography-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photography-nav ul .options {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.photography-nav ul h1 {
  font-size: 2rem;
}

.photography-nav li {
  list-style: none;
}

.photography-nav a {
  color: #5e5e5e;
  text-decoration: none;
}

.photography-nav a:hover,
.blog-nav a:active {
  color: #000;
  border-bottom: 1px solid black;
}

.photography-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
}

.photography-content .images {
  width: 100%;
  height: 250px;
  padding: 7px;
}

/* About */

.about-container {
  background-color: #fff;
  color: #000;
  height: 100vh;
  padding: 4.5rem 4.5rem;
}

.about-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.about-content h1 {
  margin-bottom: 2rem;
}

/* Contact */

.contact-container {
  background-color: #fff;
  color: #000;
  height: 100vh;
  padding: 4.5rem 4.5rem;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.contact-content .text-group {
  margin: 25px;
  width: 450px;
  display: flex;
  flex-direction: column;
}

.contact-content .text-group label {
  margin: 10px 0;
}

.contact-content .text-group input {
  line-height: 25px;
}
