<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jasmine Dawson - About</title>
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="about-container">
      <nav class="consultation-nav">
        <ul>
          <a href="../index.html"> <h1>Jasmine Dawson</h1></a>
          <div class="options">
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./consultation.html">Consultation</a></li>
            <li><a href="./photography.html">Photography</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </div>
        </ul>
      </nav>

      <section class="about-content">
        <h1>About</h1>
        <p>
          Jasmine Dawson has been working in city government since 2001 and
          working in the nonprofit sector since 1999.
        </p>
        <br />
        <p>
          Experience includes working in the City of Oakland and San Francisco
          City and County. Also experienced in non profit housing and start up
          tech companies.
        </p>
        <br />
        <p>
          Bachelor’s in Sociology from San Francisco State University and
          Master’s from Mills College in English and Creative Writing.
        </p>
      </section>
    </div>
  </body>
</html>
