<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jasmine Dawson - Blog</title>
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="blog-container">
      <nav class="blog-nav">
        <ul>
          <a href="../index.html"> <h1>Jasmine Dawson</h1></a>
          <div class="options">
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./consultation.html">Consultation</a></li>
            <li><a href="./photography.html">Photography</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </div>
        </ul>
      </nav>

      <div class="blog-body">
        <h1>Blog</h1>
        <div class="blog-content">
          <!-- <div class="blog-post">
            <h1>“So East Oakland”</h1>
          </div>
          <div class="blog-post">
            <h1>“What I am loving right now”</h1>
          </div>
          <div class="blog-post">
            <h1>“Travel”</h1>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
