<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jasmine Dawson - Consultation</title>
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="consultation-container">
      <nav class="consultation-nav">
        <ul>
          <a href="../index.html"> <h1>Jasmine Dawson</h1></a>
          <div class="options">
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./consultation.html">Consultation</a></li>
            <li><a href="./photography.html">Photography</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </div>
        </ul>
      </nav>

      <section class="consultation-content">
        <h1>Need Help Getting A Grant? Or Developing And Implementing A Strategy?</h1>
        <h1>How About Developing A Good Team?</h1>

        <div class="services">
          <h1>Services</h1>
          <div class="list">
            <p>Board and Commission Development and Support</p>
            <p>Creative Development, Design and Implementation</p>
            <p>Coaching</p>
            <p>Consulting</p>
            <p>Grant Writing</p>
            <p>Monitoring and Support</p>
          </div>

          <h2>Jasmine can also be reached for speaking engagements.</h2>
        </div>

        <div class="partnerships">
            <h1>Partnerships</h1>
            <div class="list">
              <p>San Francisco Police Department</p>
              <p>San Francisco Superior Courts</p>
              <p>Department of Public Health</p>
              <p>First 5</p>
              <p>Nonprofit Community Based Organizations</p>
              <p>Consultants</p>
            </div>
            <br/>
            <div class="list">
              <p>Adult Probation Department</p>
              <p>Juvenile Probation Department</p>
              <p>District Attorney’s Office</p>
              <p>Public Defender’s Office</p>
              <p>San Francisco Unified School District</p>
            </div>
          </div>

          <div class="accomplishments">
              <h1>Accomplishments</h1>
              <ul>
                <li>Oversee $30M grant portfolio</li>
                <li>
                  Designed, Developed, Implemented and Monitored Funding Strategies
                </li>
                <li>Created workforce development programs</li>
                <li>Supporting in the development of Collaborative Court Models</li>
                <li>Securing Local, State and Federal Grants</li>
                <li>
                  Led Request for Funding Proposal Processes and Experienced Grant
                  Writer
                </li>
                <li>Led in Cross Sector Collaboratives</li>
                <li>Participated in Cross Regional Projects</li>
              </ul>
              <p>
                Skills include negotiations, development and implementation,
                contract procurement, monitoring and evaluation.
              </p>
            </div>
      </section>
    </div>
  </body>
</html>
