<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jasmine Dawson - Contact</title>
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="contact-container">
      <nav class="consultation-nav">
        <ul>
          <h1>Jasmine Dawson</h1>
          <div class="options">
            <li><a href="./blog.html">Home</a></li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./photography.html">Photography</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </div>
        </ul>
      </nav>

      <section class="contact-content">
        <h1>Contact</h1>
        <form action="">
          <div class="text-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="text-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="text-group">
            <label for="message">Message</label>
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="10"
            ></textarea>
          </div>
        </form>
      </section>
    </div>
  </body>
</html>
